################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnakesAndLadders/SnakesAndLadders/bin/Debug/net5.0
